#section-ecobags{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 2rem;
}
.img-ecobag{
  width: 13rem;
  height: 15rem;
}
.nome-ecobags{
  font-weight: bold;
}
.article-ecobags{
  text-align: center;
}
@media(max-width:768px){
  #section-ecobags{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    row-gap: 2rem;
  }
}
@media(max-width:480px){
  #section-ecobags{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    row-gap: 2rem;
  }
}
